<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Word</title>
<meta http-equiv="Content-Type" content="text/HTML; charset=UTF-8" />
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%=stylesheet_link_tag "mobile.css" %>
</head>

<body>
<div id="container">
<div id="header">
	<div id="headertext">
		Word
	</div>
</div>	
<div id="main">
	<p>Look up words for Wordsmith and Words With Friends</p>
	<p> FAST! </p>
	<form action="/" method="post" >
		
		<span >Lookup:</span><br />
		<input type="text" value="<%=@query%>" name="query" /><br />
		<input type="submit" value="Search" />
		<% if( @resultWS == true ) %>
			<div class="good-result" >
		<% else %>
			<div class="bad-result" >
		<% end%>
		Wordsmith </div>
		<% if( @resultWWF == true ) %>
			<div class="good-result" >
		<% else %>
			<div class="bad-result" >
		<% end%>
		Words With Friends </div>

	</form>
	
</div>

</body>
</html>